@font-face {
    font-family: 'Pixeloid';
    src: url('./assets/fonts/PixeloidMono-d94EV.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Tales';
    src: url('./assets/fonts/AncientModernTales-a7Po.ttf');
    font-weight: 300;
    font-style: normal;
}

*{
    user-select: none;
    overflow: hidden;
}

body{
    background-color: black;
    margin: 0;
}

canvas{
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}